.calendar {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(255, 255, 255);
  }


.date {
  text-align: center;
  margin-top: 10%;
  
}

.activity {
  margin-top: 10px;
  padding-top: 5px;
  background-color:rgb(2, 64, 179);
  border-radius: 5px;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
}

.activity p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
}

